
html {
	overflow-y: scroll;
}

body {
	background-color: #00000;
	color: #ffffff;
	margin: auto;
	max-width: 1200px;
	text-align: center;
	overflow-x: hidden;
	
}



div.pagecontent {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-height: 100svh;
}

